body{
    margin: 0;
}

.kotak-kiri{
    margin: 100px 0 0 30px;
    width: 400px;
    height: 300px;
    text-align: start;
}
.perkenalan{
    position: relative;
    top: 55px;
    color: white;
}

.menguasai{
    color: white;
    position: relative;
    bottom: 55px;
    margin-top: 80px;
}
.kotak-kiri h3{
    color: white;
    font-size: 50px;
}

button{
    width: 250px;
    height: 35px;
    text-align: center;
    border: 1px solid white;
    border-radius:40px ;
    color: white;
    background-color: #7F6DAF;
}

button:hover{
    background-color: white;
    color: black;
}

.hire-me{
    position: relative;
    bottom: 55px;
}

.portofolio{
    position: relative;
    left:280px;
    bottom: 90px;
}

.kotak-kanan{
    position: relative;
    right: 150px;
    bottom: 230px;
}

img{
    border-radius: 20px;
    box-shadow: -20px 10px 0 white;
    width: 300px;
    height: 250px;
    float: right;
}



